
#contglobal{

width:1404px;
min-height: 500px;
height: auto;
background-color: orange;

position: relative;
margin: 0px auto;

}

#continfo
{


display: flex;
flex-wrap: nowrap;
flex-direction: row;
align-items: flex-start;
justify-content: stretch;


}


#contizquierdo{

width: 300px;
height:400px;
background-color: red;


}

#contderecho{

width: 1101px;
min-height:400px;
height: auto;
background-color: green;

}

#contsemana{


display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: center;



}


TABLE.doctors_result TD.thleft {
	width: 160px;
  background-color:  cadetblue;
}

TABLE.doctors_result TD.thright {
	width: 520px;
  background-color: aqua;
}



TABLE.doctors_result .th_week_day {
  width: 70px;
  border-bottom: 1px solid #eee;
  text-align: center;
  vertical-align: top;
  padding-left: 2px;
  padding-right: 2px;
}

.doctors_result .doctor_profile {
	float: left;
	padding-bottom: 20px;
	width: 161px;
}

TABLE.doctors_result .go_prev {
	width: 15px;
	text-align: right;
	vertical-align: middle;
}

.doctors_result TR TD {
	padding: 1px;
}


TABLE.doctors_result .td_week_day {
	width: 70px;
	border-bottom: 1px solid #eee;
	text-align: center;
	vertical-align: top;
}

TABLE.doctors_result .wd_colored {
	background-color: #f9f4ed;
}

TABLE.doctors_result .wd_white {
	background-color: #fff;
}
